<aside id="aside-downloads">
  <header>
    <hgroup>
      <h1>Downloads</h1>
    </hgroup>
  </header>
  <div class="wrapper">
    <main>
        <li>
          <p><a href="https://github.com/lxde"><span class="label">GitHub</span> <img src="/images/github-logo-22.png" title="GitHub repository" alt="GitHub"></a></p>
        </li>
        <li>
          <p><a href="https://packages.debian.org/sid/lxqt"><span class="label">Debian</span> <img src="/images/debian-logo-22.png" title="Debian metapackage" alt="Debian"></a></p>
        </li>
      </ul>
    </main>
    <footer></footer>
  </div>
</aside>
